:root {
    --dark-one:  #333;
    --dark-two:  #7a7a7a;
    --main-color:  #784cfb;
    --light-one:  #fff;
    --light-two:  #f9fafb;
    --light-three:  #f6f7fb;
}

.test {
 background-color: var(--main-color);
 color: var(--light-one);
 border: 0px;
 text-align: center;
 width: 75px;
 height: 25px;
}
